<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.kdd.dao.SecretKeyInfoDOMapper" >
  <resultMap id="BaseResultMap" type="com.zty.kdd.DO.SecretKeyInfoDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="secret_type" property="secretType" jdbcType="TINYINT" />
    <result column="risk_cycle" property="riskCycle" jdbcType="TINYINT" />
    <result column="risk_threshold" property="riskThreshold" jdbcType="INTEGER" />
    <result column="disabled" property="disabled" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_code, secret_key, account_id, secret_type, risk_cycle, risk_threshold, 
    disabled, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zty.kdd.DO.example.SecretKeyInfoDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from secret_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from secret_key_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from secret_key_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zty.kdd.DO.example.SecretKeyInfoDOExample" >
    delete from secret_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zty.kdd.DO.SecretKeyInfoDO" >
    insert into secret_key_info (id, customer_code, secret_key, 
      account_id, secret_type, risk_cycle, 
      risk_threshold, disabled, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{customerCode,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=INTEGER}, #{secretType,jdbcType=TINYINT}, #{riskCycle,jdbcType=TINYINT}, 
      #{riskThreshold,jdbcType=INTEGER}, #{disabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zty.kdd.DO.SecretKeyInfoDO" >
    insert into secret_key_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="secretKey != null" >
        secret_key,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="secretType != null" >
        secret_type,
      </if>
      <if test="riskCycle != null" >
        risk_cycle,
      </if>
      <if test="riskThreshold != null" >
        risk_threshold,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="secretType != null" >
        #{secretType,jdbcType=TINYINT},
      </if>
      <if test="riskCycle != null" >
        #{riskCycle,jdbcType=TINYINT},
      </if>
      <if test="riskThreshold != null" >
        #{riskThreshold,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zty.kdd.DO.example.SecretKeyInfoDOExample" resultType="java.lang.Integer" >
    select count(*) from secret_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update secret_key_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customerCode != null" >
        customer_code = #{record.customerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.secretKey != null" >
        secret_key = #{record.secretKey,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.secretType != null" >
        secret_type = #{record.secretType,jdbcType=TINYINT},
      </if>
      <if test="record.riskCycle != null" >
        risk_cycle = #{record.riskCycle,jdbcType=TINYINT},
      </if>
      <if test="record.riskThreshold != null" >
        risk_threshold = #{record.riskThreshold,jdbcType=INTEGER},
      </if>
      <if test="record.disabled != null" >
        disabled = #{record.disabled,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update secret_key_info
    set id = #{record.id,jdbcType=INTEGER},
      customer_code = #{record.customerCode,jdbcType=VARCHAR},
      secret_key = #{record.secretKey,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=INTEGER},
      secret_type = #{record.secretType,jdbcType=TINYINT},
      risk_cycle = #{record.riskCycle,jdbcType=TINYINT},
      risk_threshold = #{record.riskThreshold,jdbcType=INTEGER},
      disabled = #{record.disabled,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zty.kdd.DO.SecretKeyInfoDO" >
    update secret_key_info
    <set >
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="secretType != null" >
        secret_type = #{secretType,jdbcType=TINYINT},
      </if>
      <if test="riskCycle != null" >
        risk_cycle = #{riskCycle,jdbcType=TINYINT},
      </if>
      <if test="riskThreshold != null" >
        risk_threshold = #{riskThreshold,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zty.kdd.DO.SecretKeyInfoDO" >
    update secret_key_info
    set customer_code = #{customerCode,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=INTEGER},
      secret_type = #{secretType,jdbcType=TINYINT},
      risk_cycle = #{riskCycle,jdbcType=TINYINT},
      risk_threshold = #{riskThreshold,jdbcType=INTEGER},
      disabled = #{disabled,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>